.senhasGeradas {
  margin-top: 20px;
}

.senhasGeradas ul {
  list-style-type: none;
  padding: 0;
}

.senhasGeradas li {
  background-color: #f9f9f9;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
}