<div class="main">
  <div class="mainContainer">
    <h1 class="mainTitle">Gerador de Senhas</h1>
    <app-tamanho-input [(tamanho)]="tamanho" (tamanhoChange)="onTamanhoChange($event)"></app-tamanho-input>
    <div class="checkboxContainer">
      <app-checkbox *ngFor="let opcao of tiposCaracteres; let i = index" [id]="opcao.id" [texto]="opcao.nome"
        [selecionado]="opcao.valor" (lidaComMudanca)="lidaComMudanca(i)">
      </app-checkbox>
    </div>
    <button class="mainButton" (click)="gerarSenha()">Gerar Senha</button>
  </div>
  <div class="mainContainer">
    <app-ultimas-senhas [senhas]="senhasGeradas"></app-ultimas-senhas>
  </div>
</div>